.cardContainer {
	padding: 0 129px;
	margin-top: 65px;
}
.playerbox .cardDiv {
	display: flex;
	justify-content: flex-start;
	.extraDetails {
		padding: 14px 16px 8px 12px;
	}
	img {
		width: 156px;
		height: 220px;
        border-radius: 0px;
		border-top-left-radius: 13px !important;
		border-bottom-left-radius: 13px !important;
	}
}
.playerbox .card-body {
	padding: 0;
}
.playerbox {
	box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
	border-radius: 13px;
	margin: 15px 0 !important;
	border: none;
    transition: all .4s ease;
	&:hover{
		transform: translate3D(0,-1px,0) scale(1.03);
		transition: all .4s ease;
	}
	a {
        text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	.card-title {
		font-size: 23px;
		color: #484E55;
		min-height: 15px;
        text-align: left !important;
	}
	.card-subtitle {
		div {
			p {
				&:nth-child(1) {
					font-size: 14px;
					color: #899EB0;
                    text-align: left !important;
				}
				&:nth-child(2) {
					font-size: 14px;
					color: #484E55;
				}
			}
			&:nth-child(2) {
				margin-top: 9px;
			}
		}
	}
	.card-text {
		position: absolute;
		right: 30px;
		color: #484E55;
		font-size: 15px;
		text-decoration: underline;
		bottom: 25px;
	}
}
.infinite-scroll-component {
	overflow: hidden !important;
}
.cardLoader {
	text-align: center;
	font: 30px;
	padding: 15px;
	border: 1px solid #000;
}
@media (max-width: 575.98px) {
	.cardContainer {
		padding: 0 15px;
	}
	.playerbox {
		.card-title {
			font-size: 16px;
			min-height: 50px;
		}
		.card-text {
			bottom: 17px;
		}
	}
	.playerbox .cardDiv {
		img {
			width: 100px;
			height: 150px;
		}
		.extraDetails {
			padding: 8px;
		}
	}
	.mb-2 {
		margin-bottom: 0px !important;
	}
	.my-2 {
		margin-bottom: 0px !important;
	}
}
@media (min-width: 576px) and (max-width: 992px) {
	.cardContainer {
		padding: 0 72px;
	}
	.playerbox {
		.card-title {
			font-size: 18px;
			min-height: 80px;
		}
		.card-text {
			bottom: 18px;
		}
	}
	.playerbox .cardDiv {
		img {
			width: 120px;
			height: 180px;
		}
		.extraDetails {
			padding: 8px;
		}
	}
	.mb-2 {
		margin-bottom: 0px !important;
	}
	.my-2 {
		margin-bottom: 0px !important;
	}
}
@media (min-width: 993px) and (max-width: 1199.98px) {
	.cardContainer {
		padding: 0 95px;
	}
}
@media (min-width: 1201px) and (max-width: 1399.98px) {
	.playerbox {
		.card-title {
			font-size: 18px;
			min-height: 80px;
		}
		.card-text {
			bottom: 10px;
		}
	}
	.playerbox .cardDiv {
		img {
			width: 120px;
			height: 180px;
		}
		.extraDetails {
			padding: 8px;
		}
	}
	.mb-2 {
		margin-bottom: 0px !important;
	}
	.my-2 {
		margin-bottom: 0px !important;
	}
}


